<!-- Button trigger modal -->
<div class="container text-right">
  <button type="button" class="btn btn-modal" data-toggle="modal" data-target="#exampleModal">
    <span class="d-flex align-item-center"> 
      Proposer une idée 
      <i class="fa fa-2x fa-plus-circle"></i>
    </span>
  </button>
</div>

<div class="row d-flex justify-content-center">
  <div *ngFor="let item of items">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div card-header class="header">

            <div class="text-right marginb-btnedit-btndelete">
              <button type="button" class="btn btn-edit text-color-orange" (click)="onEdit(i)">
                <i class="fa fa-edit"></i>
              </button>
              <button type="button" class="btn btn-delete text-color-red" (click)="onDelete(i)">
                <i class="fa fa-trash"></i>
              </button>
            </div>

            <img src="{{ item.imgIdea }}" class="imgIdea card-img-top" alt="photo_article">

          </div>

          <div class="d-flex price-and-like">
            <div class="col">
              <button type="button" class="btn btn-like" (click)="like(item)">
                <i class="fa fa-heart"></i>
              </button>
            </div>
            <div class="col text-right">
              <h5 class="card-title text-color-darkpurple">
                {{ item.price }} €
              </h5>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Ajouter une idée
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="text-center img-modal-idea">
            <i class="fa fa-5x fa-image"></i>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Url de l'image</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="http://...">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Son prix</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Veuillez ajouter le prix">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>