.btn-like {
    padding: 0;
    margin: 0;
}

.fa-plus-circle {
    padding-left: 10px; 
}

.imgIdea {
    height: 200px;
}

.img-modal-idea {
    font-size: 30px;
    background-color: darkgrey;
    margin-bottom: 10px;
}

.marginb-btnedit-btndelete {
    margin-bottom: 20px;
}

.price-and-like {
    margin-top: 20px;
}

.blue {
    background: blue;
}
.red {
    background: red;
}
.green {
    background: green;
}
.violet {
    background: violet;
}
.paddingl {
    padding: 0 0 0 2px;

}

.paddingzero {
    padding: 0;
}
.paddingr {
    padding: 0 2px 0 0;
}

.card {
    border: none;
    border : 0px;
    padding: 0;
    margin: 0;
}

.test:nth-child(2n+1) {
    padding-right:2px;
}

.test:nth-child(2n) {
    padding-left:2px;
}

.card-title {
    margin-bottom: 0;
}

.active {
    color: red;
}
.inactive {
    color: black;
}