<div class="container mbottom">

    <div class="container-title-page">
        <div class="row">
          <div class="container-fluid d-flex align-items-center">
          <div class="col-8 text-right title-page font-lato">
            GALLERIE
          </div>

          <div class="col-4 text-left">
            <a routerLink="/createidea">
              <i class="fa fa-2x fa-plus-circle"></i>
            </a>
          </div>

        </div>
        </div>
      </div>

      <button class="btn-check" (click)="selected($event)">
        <i class="fa fa-check-circle"></i>
         </button>

  <div class="row d-flex justify-content-around">
    <div *ngFor="let idea of ideas" class="col-6 padding-between-idea mtop">

      <div class="card">
          <div card-header class="header">

            <div class="text-right pright">
              <button type="button" class="btn btn-edit paddingzero" (click)="edit(idea)">
                <a routerLink="/createidea">
                  <i class="fa fa-edit"></i>
                </a>
              </button>
              <button type="button" class="btn btn-delete text-color-red paddingzero" (click)="delete(idea)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>

          <div class="img-card" [ngStyle]="{ 'background-image': 'url(' + idea.img + ')'}"></div>

        <div class="card-body paddingzero">
            <p class="text-card font-lato text-color-darkpurple"> {{ idea.title }} </p>

        <div class="d-flex">
          <div class="col d-flex align-items-center">

            <button type="button" class="btn btn-like" (click)="like(idea, $event)">
              <i class="fa fa-heart"></i>
            </button>

            <!-- {{ idea.jaime }} -->
            <button class="btn-check" *ngIf="idea.jaime === true" (click)="selected(idea)">
            <i class="fa fa-check-circle"></i>
             </button>

          </div>
          <div class="col text-right">
            <h5 class="card-title text-color-darkpurple">
              {{ idea.price }} €
            </h5>
          </div>
          
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

