/* You can add global styles to this file, and also import other style files */
/* .bg {
    background: #575fcf;
    background: -moz-linear-gradient(-45deg, #575fcf 0%, #81ecec 60%);
    background: -webkit-linear-gradient(-45deg, #575fcf 0%,#81ecec 60%); 
    background: linear-gradient(135deg, #575fcf 0%,#81ecec 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575fcf', endColorstr='#81ecec',GradientType=1 );
    height: 100vh;
} */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* COULEURS */

.bg-white {
    background: white;
}
.text-color-darkpurple {
    color: #28263F;
}

.text-color-pastelpink {
    color:#fab1a0;
}

.text-color-pastellemon {
    color: #ffeaa7;
}

.text-color-orange {
    color: #ffa801;
}

.text-color-red {
    color:#f53b57;
}

.text-color-blue {
    color: #34ace0;
}

.text-color-flashturquoise {
    color: #81ecec;
}

.text-color-lightgrey {
    color: #aeaba3;
}

.text-color-grey {
    color: #4a4742;
}

/* POSITION */

.container-title-page {
    padding: 50px 5px 50px 5px;
    border-bottom: 1px solid lightgray;
}

.container-title-page-short {
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid lightgray;
}

.padding-top-form {
    padding-top: 30px;
}

.padding-top-form-element {
    padding-top: 10px;
}

.padding-top-zero {
    padding-top: 0 !important;
}

.paddingzero {
    padding: 0 !important;
}

/* BUTTONS */

.btn-modal, .btn-like, .btn-edit, .btn-delete, .btn-check {
    background: none;
}

.btn-edit {
    opacity: 0.2;
    padding: 2px;
}
.btn-edit:hover {
    opacity: 1;
}

.btn-delete {
    opacity: 0.2;
    padding: 2px; 
}
.btn-delete:hover {
    opacity: 1;
}

.btn-like:hover {
    color:#ffeaa7 !important;
}

.btn-check {
    background: none;
    padding: 0;
    margin: 0;
    color: #81ecec;
    border: none;
}
.btn-check:hover {
    color: #2abe25;
}

/* FONTS */

.title-page {
    font-size: 30px;
}

.title-page-short {
    font-size: 15px;
}

.font-oxy {
    font-family: 'Oxygen', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}
.text-bold {
    font-weight: bold;
}

/* AUTRES */

a {
    text-decoration: none !important;
}