<div class="container">

  <div class="container-title-page-short">
    <h3 class="text-center title-page-short">
      VALIDATION
    </h3>
  </div>

  <div *ngIf="idea == undefined" class="mtop">
    <div class="text-center">
      <i class="far fa-frown fa-5x"></i>
    </div>
    <h5 class="text-center ptop">
      Vous n'avez rien validé...
    </h5>
  </div>

  <form *ngIf="idea" class="form-horizontal main-form padding-top-form-element">
    <div class="form-group border-validate-idea">

      <div class="text-right">
        <button class="btn btn-delete text-color-red paddingzero" (click)="removeCartIdea()">
          <i class="fa fa-trash"></i>
        </button>
      </div>

      <div class="row">
        <div class="col img-cart pright" [ngStyle]="{ 'background-image': 'url(' + idea.img + ')'}"></div>
        <div class="col">
          <div class="row">{{idea.title}} </div>
          <!-- <div class="row">{{idea.comment}} </div> -->
        </div>

        <div class="col-3">
          {{idea.price}} &#x20AC;
        </div>

      </div>

      <div> <span> {{ message }} </span></div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" (click)="validation()" class="col-12 btn btn-default btn-save">
          Valider
        </button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a routerLink="/ideas">
          <button type="submit" class="col-12 btn btn-default btn-save">
            Retourner sur la gallerie
          </button>
        </a>
      </div>
    </div>
  </form>

</div>