<div class="container-fluid background-login d-flex flex-column justify-content-center">

  <div class="logo d-flex justify-content-center"> CHOOSE THE GIFT </div>

  <div *ngIf="isLoggedIn; else loggedOut">
    <!-- Logged in as {{roles}}. -->
    <div class="row justify-content-center">
        <a routerLink="/home">
          <button class="btn btn-signin text-color-white">Retour</button>
          </a>
          
      <button class="btn btn-login text-color-white mleft" (click)="logout()">Déconnexion</button>
    </div>
  </div>

  <ng-template #loggedOut>

    <div class="d-flex justify-content-center">
      <div class="col">

        <form name="form-horizontal main-form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

          <div class="form-group font-oxy">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required />
            <div *ngIf="f.submitted && username.invalid">
              <div *ngIf="username.errors.required">Username is required</div>
            </div>
          </div>

          <!-- <hr class="border-form-bottom" /> -->

          <div class="form-group font-oxy">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6"
            />
            <div *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

          <!-- <hr class="border-form-bottom" /> -->

          <div class="form-group font-oxy">
              <button class="btn btn-login col-12"> Connexion </button>
              <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                Login failed: {{errorMessage}}
              </div>
          </div>

          <div class="form-group font-oxy">
              <a href="register" class="btn btn-signin col-12">Je m'inscris</a>
          </div>

        </form>

      </div>
    </div>
  </ng-template>
</div>