 .link {
    text-decoration: none;
    color:#28263F;
}

a {
    text-decoration: none;
    color:#28263F;
}

.bandeau {
    padding: 40px 40px 20px 40px;
    /* background-color: white; */
}

.fa-user-size {
    font-size: 23px;
    padding: 0px 5px 0px 5px;
}

.delete-padding {
    padding: 0;
}

.total-cagnotte {
    padding: 0 10px 0 10px;
}

.string-and-total {
    background-color: white;
    padding: 10px;
}

.participants {
    background-color: white;
    padding: 10px 0px 10px 0px; 
}

.nav-bottom {
    background-color: white;
    border-top: 1px solid #e7e4e4;
    margin-top:30px;
}

.test {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ampoule {
    width: 30px;
    height: 30px;
}

.dialogue {
    width: 30px;
    height: 30px;
}

.money {
    width: 30px;
    height: 30px;
}

.active > .dialogue{
    fill: #f57665
}

.active > .ampoule{
    fill: #f57665
}

.active > .money{
    fill: #f57665
}

.active > .fusee{
    fill: #f57665;
}

.nav-bottom {
    background-color:white;
}

.phone {
    color: grey;
    background: black;
}

.project-name {
    padding-left: 10px;
}

.phone-logo {
    padding-right: 10px;
}