.container-fluid {
    padding: 0;
    margin: 0;
}

.form-control {
    border-radius: 0px;
    font-size: 10px;
}

label {
    font-size: 10px;
    font-weight: bold;
}

.mtop {
    margin-top: 20px;
}