<div class="container">
  
    <div class="container-title-page-short">
        <h3 *ngIf='this.idea.title === ""' class="text-center title-page-short">
            Envoyer son idée
          </h3>
          <h3 *ngIf='this.idea.title !== ""' class="text-center title-page-short">
            Editer son idée
            </h3>
        </div>
  
  <form class="form-horizontal main-form padding-top-form-element">
    <div class="form-group">
      <label class="control-label col-sm-2" for="img">
        <span class="required font-oxy">Lien de l'image :</span>
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="imgIdea" id="imgidea" [(ngModel)]="idea.img" placeholder="Uploader une image">
      </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2 font-oxy" for="title">Titre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="title" [(ngModel)]="idea.title" id="title" placeholder="Saisissez une description">
        </div>
      </div>

    <div class="form-group">
      <label class="control-label col-sm-2 font-oxy" for="comment">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="comment" [(ngModel)]="idea.comment" id="comment" placeholder="Saisissez une description">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2 font-oxy" for="price">
        <span class="required">*Prix:</span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="price" [(ngModel)]="idea.price" id="price" placeholder="Saisissez son prix">
      </div>
    </div>
    <!-- <div class="form-group">
      <label class="control-label col-sm-2" for="jaime">jaime</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="jaime" [(ngModel)]="idea.jaime" id="jaime" placeholder="Saisissez une description">
      </div>
    </div> -->
    <!-- <div class="form-group">
      <label class="control-label col-sm-2" for="quantity">quantity</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="quantity" [(ngModel)]="idea.quantity" id="quantity" placeholder="Saisissez une description">
      </div>
    </div> -->

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" (click)="saveOrUpdateIdea()" class="col-12 btn btn-default btn-save">
          Valider
        </button>
      </div>
    </div>
  </form>
  </div>

<!-- Button trigger modal -->
<!-- <div class="container text-right">
  <button type="button" class="btn btn-modal" data-toggle="modal" data-target="#exampleModal">
    <span class="d-flex align-item-center"> 
      Proposer une idée 
      <i class="fa fa-2x fa-plus-circle"></i>
    </span>
  </button>
</div> -->


<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Ajouter une idée
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="text-center img-modal-idea">
            <i class="fa fa-5x fa-image"></i>
          </div>
          <div class="form-group">
            <label for="img">Url de l'image</label>
            <input type="text" name="imgIdea" [(ngModel)]="idea.img" class="form-control" id="img" placeholder="http://...">
          </div>
          <div class="form-group">
            <label for="price">Son prix</label>
            <input type="text" name="price" [(ngModel)]="idea.price" class="form-control" id="price" placeholder="Veuillez ajouter le prix">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button #btnclose type="button" (click)="saveOrUpdateIdea()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
