<div class="container">
 
  <div class="container-title-page-short text-center">
  <span class="title-page-short">
      <a routerLink="/project" class="text-color-grey"> 
        Créer un projet 
      </a>
  </span>
  </div>

  {{ message }}

<form class="form-horizontal main-form padding-top-form">
  <div class="form-group">
    <label class="control-label col-sm-2 font-oxy" for="title">
      <span class="required">*</span>
      Titre du projet
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" id="title" [(ngModel)]="project.title" placeholder="Saisissez un titre">
    </div>
  </div>

  <div class="form-group padding-top-form-element">
    <label class="control-label col-sm-2 font-oxy" for="totalmoney">
      <span class="required">*</span>
      Cagnotte esperée
    </label>
   
    <div class="col-sm-10">
      <input type="text" class="form-control" name="totalmoney" id="totalmoney" [(ngModel)]="project.totalmoney" placeholder="Saisissez un chiffre">
    </div>
  </div>

  <div class="form-group">
    <div class="padding-top-form-element">
      <button type="submit" (click)="saveOrUpdateProject()" class="col-sm-12 btn btn-default btn-save">Valider</button>
    </div>
  </div>
</form>

</div>